@charset "utf-8";

* {
  box-sizing: border-box;
}
body{  
  background-image: url("bg.png");
  background-color: #b3d9ff;  
  
  -webkit-animation: slidein 30s;
        animation: slidein 30s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:1005px;}
  to {background-position: -100px 0px;background-size:750px;}
  }
  
  @keyframes slidein {
  from {background-position: top; background-size:1005px;}
  to {background-position: -100px 0px; background-size: 750px;}
  
  }
  
  h1
  {
    padding: 15% 0 3% 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 600;
    color: #000066;    
  }

  h2{
    padding: 2%;
    color: #000066;
  }
  .text{
    color: #000066;
    font-weight: 500;
  }

  input[type=text], input[type=password], input[type=number] {
    width:50%;
    padding: 1%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: transparent;
    border: 2px solid #000066;
    border-radius: 5px;
  text-align: left;  
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #00006611;
    outline: none;  
  }
  .add
  {
    width:auto;
    padding: 1%;
    background-color: #000066;        
    border: 1px;
    border-radius: 10px;
  }

  .button
  {
    width: 150px;
    padding: 1%;
    margin: 3%;
    background-color: #000066;        
    border: 1px;
    border-radius: 10px;
  }
  .button:hover
  {
    width: 150px;
    padding: 1%;
    margin: 3%;
    background-color: #000080;        
    border: 1px;
    border-radius: 10px;
  }

  .checkbox{
    padding: 5px;
    margin-left: 10%;
    text-align:left !important;
    
  }

  label{float: left;
    text-align: right;
    width: 30%;  
    font-weight: bold;
    }

  .center-form{
    justify-content: center;
    display: flex;}

.vertical-center{
  margin-top:10%;}

  .txtlength
{
  margin-left:40px !important;
  justify-content: right !important;
}
.chklft{
  text-align:left !important;
  margin-left:24%;
}