@charset "utf-8";

.main{  
  background: url("slider_map.png"), url("background.jpg");
  height:100vh;
}

.regbg{
background: url("background.jpg");
width: 100%;
height:100%;
}

h1{
font-size: 72px;
padding: 10%;}

h2{
  padding: 2%;
}

.button
  {
    width: 150px;
    padding: 1%;
    margin-right: 3%;
    background-color:#1b3d61;
    background-image: url("btnbg.png");
    border: 2px solid #1e2c4c;
    border-radius: 10px;
  }
  .button:hover
  {
    width: 150px;
    padding: 1%;
    margin-right: 3%;
    background-color: #1c243c;        
    background-image: url("btnbg1.png");
    border: 2px solid #1e2c4c;
    border-radius: 10px;
  }
  .btn{
    background-image: url("btnbg.png");
    border: 2px solid #1e2c4c;
    border-radius: 10px;
  }
  .btn{
    background-image: url("btnbg1.png");
    border: 2px solid #1e2c4c;
    border-radius: 10px;
  }
  .btn1{
    width:auto;
    background-image: url("btnbg.png");}

/*form*/
input[type=text], input[type=password], input[type=number] {
  width:50%;
  padding: 1%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
text-align: left;  
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;  
}

label{float: left;
  text-align: right;
  width: 30%;  
  font-weight: bold;
  }

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.checkbox{
  padding: 5px;
  margin-left: 10%;
  text-align:left !important;
  
}

.chk{
  margin-left:22%;
  padding: 5px;
  text-align:left !important;
}

.center-form{
  justify-content: center;
  display: flex;}
/* Add padding to container elements */
.container {
  padding: 16px;
  width: 100%;
}

.vertical-center
{margin-top:10%;}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.txtwidth
{
  width:50% !important;
  
}
.txtlength
{
  margin-left:40px !important;
  justify-content: right !important;
}
.chklft{
  text-align:left !important;
  margin-left:24%;
}
.remove{
  margin-left:1%;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn, input[type=text], input[type=password] {
     width: 100%;
  }
}
